extends layout

block content 
  h1 프로토 조합기
  form(action="/result", method="POST")
    div
      label(for="b") 경기수 :
      input(type="text" id="b" name="matchCount")
    div
      label(for="c") 배당액 :
      input(type="text" id="c" name="odds")
    div
      label(for="d") 구매액 :
      input(type="text" id="d" name="purchaseAmount")
    div
      input(type="submit" value="당첨을 기원합니다!!!")
  <div id="result"></div>

//-  script.
    while (true) {
      var passwd = prompt("비밀번호를 입력하세요.");
      if (passwd == "1234") {
          alert("환영합니다.");
          break;
      } else {
          continue;
      }
    }