extends layout

block content 
  h1 #{data.title}
  h1 프로토 조합기
  div 조합시작 (ex. 05.12(일) 19:00) : <input type="text" id="a"/>
  div 경기수 : <input type="text" id="b"/>
  div 배당 : <input type="text" id="c"/>
  div 구매금액 : <input type="text" id="d"/>
  <button pys-onClick="parse_json()" id="button">실행</button>
  <div id="result"></div>

  script.
    while (true) {
      var passwd = prompt("비밀번호를 입력하세요.");
      if (passwd == "1234") {
          alert("환영합니다.");
          break;
      } else {
          continue;
      }
    }